<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pojo.Emp">

    <resultMap id="emp" type="com.pojo.Emp">
        <id property="empid" column="empid"></id>
        <result property="empname" column="empname"></result>
        <result property="depid" column="depid"></result>
    </resultMap>

    <update id="update" parameterType="com.pojo.Emp">
<!--
        update emp
        <set>
            <if test="empname!=null and empname!=''">
                empname = #{empname},
            </if>
            <if test="depid!=null and depid!=''">
                depid = #{depid},
            </if>
        </set>
        where empid=#{empid}
-->
        update emp set
        <trim suffixOverrides=",">
            <if test="empname!=null and empname!=''">
                empname = #{empname},
            </if>
            <if test="depid!=null and depid!=''">
                depid = #{depid},
            </if>
        </trim>
        where empid=#{empid}

    </update>

    <select id="findby" parameterType="com.pojo.Emp" resultType="com.pojo.Emp">

        select empid , empname ,depid from emp
        <!--
        <where>
            <if test="empid!=null and empid!=''">
               and empid = #{empid}
            </if>

            <if test="empname!=null and empname!=''">
              and  empname like concat(concat("%" , #{empname}),"%")
            </if>

            <if test="gender!=null and gender!=''">
              and  gender = #{gender}
            </if>

        </where>
        -->

        <trim prefix="where" prefixOverrides="and|or">
            <if test="empid!=null and empid!=''">
                or empid = #{empid}
            </if>

            <if test="empname!=null and empname!=''">
                or  empname like concat(concat("%" , #{empname}),"%")
            </if>

            <if test="depid!=null and depid!=''">
                or  depid = #{depid}
            </if>
        </trim>

    </select>

    <insert id="batchinsert" parameterType="list">
        insert into emp(empid,empname,depid) values
        <foreach collection="list" separator="," item="e">
            (#{e.empid},#{e.empname},#{e.depid})
        </foreach>
    </insert>



</mapper>