<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pojo.Dep">

    <resultMap id="dep" type="com.pojo.Dep">
        <id property="depid" column="depid"></id>
        <result property="depname" column="depname"></result>
    </resultMap>

    <insert id="insert" parameterType="com.pojo.Dep">
        <selectKey resultType="int" keyProperty="depid" order="AFTER">
            select max(depid) from dep
        </selectKey>
        insert into dep(depname) values (#{depname})
    </insert>

</mapper>