<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pojo.Emp">

    <resultMap id="emp" type="com.pojo.Emp">
        <id property="empid" column="empid"></id>
        <result property="empname" column="empname"></result>
        <result property="depid" column="depid"></result>
    </resultMap>

</mapper>